@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


html,body {
	padding: 0;
	margin: 0;
	min-width: 100vw;
	min-height: 100vh;
}

* {
	box-sizing: border-box;
}

body {
	display: grid;
	place-items: center;
	
	--background-colour: #161616;
	background: var(--background-colour);
	
	color: white;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

body::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	
	pointer-events: none;
	
	--pattern-size: 1px;
	--pattern-colour: rgba(255,255,255,0.1);
	--domain-size: 32px;
	
	background: radial-gradient(
		var(--pattern-colour) var(--pattern-size), 
		transparent var(--pattern-size)
	);
	background-size: var(--domain-size) var(--domain-size);
	background-repeat: repeat;
	
	/* mask-image: radial-gradient(transparent 30%, white); */
	mask-image: radial-gradient(white 75%, transparent);
	z-index: -1;
	
	animation: slide 1.5s forwards infinite linear;
}

@keyframes slide {
	from {
		background-position: 0 0;
	}
	to {
		background-position: var(--domain-size) var(--domain-size);
	}
}

#title {
	font-size: 3rem;
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 2px;
	color: transparent;
	background: linear-gradient(transparent, gray);
	background-clip: text;
}



.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6vh;
	width: 100%;
}



table#comparison-table {
	/* flex-grow: 1; display table messes with flexbox */
	--_padding: 10%;
	width: calc(100% - var(--_padding));
	
	background-color: var(--background-colour);
	border-collapse: collapse;
	
	
	th, tr:nth-child(even) {
		/* background-color: #f2f2f2; */
		/* backdrop-filter: brightness(0.95); */ /*applied relative to background colour obviously meaning a much too faint offset at lower brightness*/
		background-color: rgba(0,0,0,0.5);
	}
	
	th, td {
		border: 1px solid #ddd;
		padding: 0.5rem;
		text-align: left;
		white-space: pre-line;
	}
	
}

#flex {
	display: flex;
}

#popup {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	border: 3px solid #4A4A48;
	padding: 20px; 
	display: block;
}

#popup h1 {
	text-align: center;
}

#popup img {
	width: 50%;
	height: auto;
}

#popup h3 {
	font-size: 20px;
	color: white;
}

#popup button {
	border: none;
	margin-top: 10px;
	margin-bottom: auto;
	background-color: transparent;
}